form {
  background-color: rgb(8, 8, 15);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 16px;
  padding: 16px;
  width: 100%;
}

.wallet-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
