@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#090615;
  color: #e8eaed;
}

body,input,select,button {
font-family: 'Lato',sans-serif;
}
#root {
   display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  border-radius: 2px;
  background-color: #1c1244;
  border: 1px solid #2c2c69;
 color: rgb(255, 204, 251);
  padding: 8px;
}

select {
  background-color: #1c1244;
  border: 1px solid #2c2c69;
 color: rgb(255, 204, 251);
  padding: 8px;
}


button {
  background: #1e1e1f;
  border: none;
  color: #e8eaed;
  cursor: pointer;
  padding: 8px;
  
   width: max-content;
  height: max-content;
}



label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient( transparent,rgb(68, 38, 99)) 
}